<h4>Flacons:</h4>
<% unless @juices.empty? %>
	<ul>
		<% @juices.each do |juice| %>
			<li <%= "class=\"used\"" if juice.used %>>
			<a href="/juice/<%= juice.id %>"><%= juice.brand %> - <%= juice.name %></a>
			</li>
		<% end %>
	</ul>
	<% else %>
		<p>none, for now.</p>
<% end %>
