<!DOCTYPE html>
<html lang="en">
	<head>
		<title>perfume inventory app</title>
		<meta charset=utf-8 />
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">
		<style media="screen" type-"text/css">
			#wrapper {
				margin-left: 10%;
				margin-top: 5%;
				}
			a, a:visited {
			    color: #AF6D1D;
				    }
		</style>
	</head>
	<body>
		<div id="wrapper">
		<h2>my perfume collection:</h2>

		<%= yield %>

		<footer><br /><br />
	</div><!-- ends wrapper-->
	</body>
</html>

