<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PERFUME INVENTORY APP</title>
		<meta charset=utf-8 />
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="/css/procss.css" rel="stylesheet">
		<link href="/css/iris_ganache.css" rel="stylesheet">
		<script src="/js/jquery-1.10.2.min.js"></script>
		<style media="screen" type-"text/css">
						body { background: #ededed;
					 				 font-family: "Lato"; }
			#wrapper {
				margin-left: 10%;
				margin-top: 5%;
				font: Lato;
				}
			a, a:visited {
			    color: #AF6D1D;
				    }
		</style>
	</head>
	<body>
		<div class="container">
			<ul class="top-nav">
				<li><a href="/">home 1</a></li>
				<li><a href="/">home 2</a></li>
				<li><a href="/">home 3</a></li>
			</ul>
		<%= yield %>
		<!--
		-->
		<!--
		<div class="juice_form">
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">name</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">house</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
						
		</div> -->

		<footer><br /><br />
	</div><!-- ends container-->
	<script src="/js/pistachio.js"></script>
	</body>
</html>

