#logo {
  width: 131px;
  height: 62px;
  border: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul.top-nav {
}

ul.top-nav li {
  display:inline;
  margin: 0 10px 0 0;
}

ul.sort-menu {
  list-style-type: none;
}
ul.sort-menu li {
  display: inline;
  margin: 0 5px;
  font-size: 9px;
}

.flasks {
  font-size: 12px;
}
.flask {
  list-style-type: circle;
  line-height: 16px;
}
